Body {
    background: rgb(194, 194, 194);
}

header {
    height: 10vh;
    width: 100vw;
    background: rgb(78, 78, 78);
}

section {
    height: 80vh;
    width: 50vw;
    margin-left: 25%;
    background: rgb(230, 230, 230);
}

footer {
    height: 10vh;
    width: 50vw;
    margin-left: 25%;
    background: rgb(37, 37, 37);
}